@import "../../_globals.css";


body {
    background-image: url(../../assets/destination/background-destination-mobile.jpg)
   
}





.moon-img {
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    
}

.moonpic-div {
    text-align: center;
    padding: 30px 0;
    animation: rotatieImagine 8s linear infinite;
}

@keyframes rotatieImagine {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}

/* SECOND NAVBAR */

.second-navbar {
    text-align: center;
    /* margin: 0 70px; */
    /* display: flex;
    flex-direction: row; */
    /* gap: 20px; */

    
}

.second-navbar > a {
    text-decoration: none;
    padding: 0 8px;
}

.second-navbar > .a-content1 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
}

.second-navbar > .a-content2 {
    color: var(--color-mainWhite);
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
}


/* Main TITLE 2 */
.maintitle > h2 {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0 0 0;
}

.main-paragraph > p {
    color: var(--color-mainWhite);
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 0 20px;
    /* width: 400px; */
}



/* TEXT UNDERLINE */

.text-underline {
    text-align: center;
}

.first_text_p1 {
    color: var(--color-mainWhite);
    text-align: center;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.first_text_p2 {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.first_text {
    margin: 0 0 20px 0;
}

.hr {
    opacity: 0.2;
}









@media  screen and (min-width: 600px) {

    body {
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
    }

    
    .subtitle {
        display: inline-flex;
        align-items: flex-start;
        gap: 19px;
        margin: 40px 0 0 50px;

    }

    .subtitle-number {
        font-family: Barlow Condensed;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.375px;
    }

    .subtitle-text {
        font-family: Barlow Condensed;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
    }

    .moon-img {
        width: 350px;
        height: 350px;
        flex-shrink: 0;
        margin: 60px 0 50px 0;
    }

    .second-navbar > .a-content1 {
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
    }

    .second-navbar > .a-content2 {
        color: var(--color-mainWhite);
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
    }

    .second-navbar {
        /* margin: 32px 0 8px 0;
        padding: 48px 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: var(--space-5);
        font-family: 'Barlow Condensed', sans-serif;
        padding: 30px 48px;
        
    }

    .hr {
        /* width: 573px; */
        height: 1px;
        flex-shrink: 0;
        margin: 50px 100px;
        opacity: 0.2;
    }



    .a-content {
        padding: 0 48px;
        position: relative;
        cursor: pointer;
    }
    
    .a-content::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #FFF;
        transition: width 0.3s;
    }
    
    .a-content:hover::after {
        width: 100%;
    }

    .maintitle > h2 {
        color: #FFF;
        text-align: center;
        font-family: Bellefair;
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 32 0 12px 0;
    }

    .main-paragraph > p {
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
    }

    

    .text-underline {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

   

    .first_text_p1 {
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.362px;
        text-transform: uppercase;
        width: 216px;
    }

    .travel-information1 {
        width: 216px;


    }

    .first_text_p2 {
        color: #FFF;
        text-align: center;
        font-family: Bellefair;
        font-size: 33px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .travel-information2 {
        width: 223px;
    }
    
    
 

}

@media screen and (min-width: 1150px) {

    body{
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
    

    }

    

    .subtitle {
        margin-left: 200px;
        margin-top: 90px;
    }


    main {
        display: flex;
        flex-direction: row;
    }

    .left-side {
        width: 50%;
    }

    .right-side {
        width: 50%;
        margin: 185px 0 0 200px;
        text-align: start;
    }

    .second-navbar {
        padding: 0;
        justify-content: flex-start;
    }

    .maintitle > h2 {
        text-align: left;
        font-size: 150px;
        margin: 35px 0 15px 0;
    }

    .main-paragraph > p {
        text-align: left;
        font-size: 20px;
        width: 544px;
    }

    .hr {
        width: 544px;
        margin: 55px 165px 30px 15px;
        opacity: 0.2;

    }

  

    .text-underline {
        justify-content: flex-start;
    }

    .moon-img {
        width: 445px;
        height: 445px;
        flex-shrink: 0;
    }

    .moonpic-div {
        margin-left: 150px;
    }

    .travel-information1 {
        text-align: start;
        margin-right: 80px;
        margin-left: 20px;

    }
    .travel-information2 {
        text-align: start;

    }

    

    
}


